<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProjectPath" value="D:\code\coleoid\Tabula\transpiler"/>
    <add key="FixtureLibrary" value="LibraryHoldingTestWorkflows\bin\Debug\LibraryHoldingTestWorkflows.dll"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
